* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: beige;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
}

#score-display {
    text-align: center;
}

#level-display {
    text-align: center;    
    font-size: 2.5rem;
}

.colors-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25rem;
    height: 25rem;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
}

.colors {
    height: 10rem;
    width: 10rem;
    border: solid 0.4rem black;
    border-radius: 2rem;
    /* animation: blink 1s ease alternate; */
    box-shadow: 0.7rem 0.7rem 1rem black;
}

@keyframes blink {
    50% {
        background-color: red;
    }
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#btn {
    padding-inline: 2rem;
    padding-block: 1rem;
    font-weight: 700;
    font-size: x-large;
    border-radius: 0.5rem;
    background-color: bisque;
    margin-inline: auto;
}

.colors:hover {
    cursor: pointer;
}

#btn:hover {
    transform: scale(1.15);
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 2rem;
}
